.Osar {
  background-image: 
  url(
  "/src/images/HomePage.png");
  max-width:100%;
  max-height: 100%;
  height: 100vh;
  background-size: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  padding-top: 5%;
}

.Registry {
  background-image: 
  url(
  "/src/images/DVAA-bg.png");
  background-size: "cover";
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.signin-container {
  height: 70%;
  margin-top: 5%;
  padding: 3%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.signin-container2 {
  height: 25%;
  padding-top: 10%;
  flex-wrap: wrap;
  justify-content: center;

}

.signin-container3 {
  height: 70%;
  padding-top: 10%;
  padding: 3%;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.border {
    border: 3px solid red;
}

.container{
  width: 100%;
  margin: auto;
  width: 55%;
  height: 80%;
  flex-wrap: wrap;
  align-content: space-between;
}

.icon-container {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.flex-box-2 {
  display:flex;
  justify-content: space-around;
  width: 800px;
}

.faq-card {
  width: 30.8%;
  border-radius: 20px;
  height: 47.5%;
  margin-left: 4.5%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.get-help {
  width: 100%;
  margin: 5%;
}

.summary-container {
  height: 100%;
  margin-top: 5%;
}

.registry-stepper {
  margin-top: 10%;
  margin-left: 10%;
}

.profile-card {
  justify-content: center;
  margin: 2.5%;
}

.progress-circle {
  margin-top: 10%;
  justify-content: center;
}

.answer-card {
  direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 100%;
  height: 47.5%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.input-card {
  align-items: center;
  justify-content: center;
  height: 55%;
  width: 100%;
}

.drawer-container {
  background-color: rgb(51,51,51);
  color: white;
}

.question-container {
  border-radius: 20px;
  width: 64.15%;
  height: 47.5%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.question-card {
  width: 100%;
  height: 60%;
}

.questions {
  flex-wrap: wrap;
  width: 90%;
  height: 50%;
  margin-top: 3%;
  margin-left:5%;
}

.did-you-know-container {
  height: 30%;
  width: 80%;
  flex-direction: column;
  margin-top: 1%;
  margin-left: 5%;
}

.button {
  /* border: 3px solid lightgreen; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20%;
  width: 100%;
}

.button2 {
  /* border: 3px solid lightgreen; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  width: 100%;
}

.div-a {
  /* line-height: normal; */
}

.div-b {
  line-height: 100%;
}

.div-c {
  line-height: 90%;
}

.div-d {
  line-height: 200%;
}

.mobile-container {
  height: 100vh;
}

.mobile-top-container {
  height: 40%;
  justify-content: center;
}

.mobile-middle-container {
  height: 40%;
  justify-content: center;
}

.mobile-bottom-container {
  height: 20%;
}

@media screen and (min-width: 320px) {

}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (min-width: 960px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1536px) {
  h1 {
    font-size: 60px;
  }
}

/* body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.example-container {
  width: 100vw;
  height: 100vh;
}

.box {
  border: 3px solid red;
  border: 2px;
  border-radius: 30px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - -50px / 2);
  left: calc(50% - 150px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-icon {
  width: 80%;
  height: 80%;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
