.header{
  width: 300px;
  height: 75px;
  display: flex;
  align-self: center;
  background-image: url("./images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  justify-self: center;
  padding-top: 10%;
}

.header-mobile{
        /* border: 3px solid red; */
  position: absolute;
  width: 50vw;
  height: 20vh;
  display: flex;
  align-self: center;
}

.Homepage {
  width:100vw;
  height: 100vh;
  background-image: url("./images/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Homepage-mobile {
  width:100vw;
  height: 100vh;
  background-image: url("./images/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sign-in-element-typewriter {
  width: 40vw;
  flex-direction: column;
}

.dual-panel-wrapper{
  width: 100vw;
  height: 100vh;
}
.panel-one{
  width: 50vw;
  height: 100vh;
  display: flex;
  position: relative;
}
.panel-one-mobile{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}
.panel-two{
  margin: auto;
  width: 50vw;
  height: 100vh;
}



.signin-wrapper{
  display: inline-block;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;  
}

.signin-h1 {
    /* border: 3px solid red; */
  font-size: x-large;
  height: 30%;
  width: 100%;
  padding-top: 10%;
  text-align: center;
}
.signin-p{
  margin-top: 2%;
  font-size: large;
  height: 10%;
  width: 100%;
  text-align: center;
}
.signin-body{
    /* border: 3px solid red; */
  width: 100%;
  height: 15%;
  text-align: center;
  padding-top: 3%;
}
.sign-in-element-email {
      /* border: 3px solid red; */
  height: 20%;
  width: 60%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10%;
}
.signin-start-registry{
  position: absolute;
  width: 100%;
  align-items: center;
  bottom: 5%;
}
.loader{
  width: 100%;
  height: 10%;
  padding-top: 10%;
}

.panel-one-questions{
      /* border: 3px solid red; */
  /* height: 20vh; */
  width: 80%;
  position: absolute;
  top: 20%;
  justify-self: center;
  text-align: left;
  left: 10%;
}

.panel-one-answers{
    /* border: 3px solid red; */
  display: grid;
  position: absolute;
  align-items: center;
  top: 30%;
  height: 40vh;
  width: 80%;
  left: 10%;
  justify-content: center;
}
.panel-one-buttons{
  position: absolute;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  bottom: 10%;
}
.selectRegistry-header{
   /* border: 3px solid red; */
  height: 15%;
  width: 80%;
  align-self: center;
  padding-top: 5%;
}
.selectRegistry-buttons-wrapper {
  /* border: 3px solid red; */
  position: relative;
  display: flex;
  display: flex;
  width: 100%;
  height: 80vh;
  align-content: center;
  padding-top: 5%;
  /* padding: 5%; */
}

.selectButtons {
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 35%;
  justify-content: space-evenly;
  padding: 5%;
}

.answer-element-continue {
      /* border: 3px solid red; */
  /* display: flex; */
  position: absolute;
  width: 80%;
  /* margin: auto; */
  justify-self: center;
  align-self: center;
  bottom: 13%;
  left: 10%;
}

.boolean-wrapper {
    /* border: 3px solid red; */
  display: flex;
  position: relative;
  height: 20vh;
  width: 100%;
  /* align-content: center;
  justify-content: space-between; */
  /* left: 1%; */
}

.boolean-button {
  width: 50vw;
  margin-left: 0%;
  /* border: 3px solid red; */
}






.wrapper-block {
  /* flex-grow: 1; */
  height: 95vh;
  width: 95vw;
  flex-direction: column;
  /* margin: auto;
  justify-content: flex-end; */
}

.wrapper-registry-block {
  /* border: 3px solid red; */
  flex-direction: row;
  height: 97vh;
  width: 100%;
  margin-left: 5%;
}

.registry-block {
  /* border: 3px solid red; */
  height: 100%;
  width: 60%;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.stepper-block {
  border: 2px solid rgb(157, 150, 139);
  height: 15%;
  width: 50%;
  justify-content: center;
}

.question-block {
  height: 40%;
  width: 50%;
  text-align: center;
  border: 2px solid rgb(157, 150, 139);
  border: 2px solid rgb(227, 232, 239 );
  /* margin: auto; */
  /* background: rgba(250, 251, 253, 253.05);
  box-shadow: 0px 1px 2px rgba(1, 0, 0, .51), 1px 2px 0px 2px rgba(0, 0, 0, 0.04); */
}

.answer-block {
  /* border: 3px solid red; */
  display: grid;
  height: 100%;
  width: 100%;
  /* padding-top: 4rem; */
}



.summary-block {
  width: 25%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 1px 2px rgba(1, 0, 0, .51), 1px 2px 0px 2px rgba(0, 0, 0, 0.04);
}

.additional-info-block {
  width: 25%;
  height: 100%;
  flex-direction: column;
}

.user-block {
  height: 45%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 1px 2px rgba(1, 0, 0, .51), 1px 2px 0px 2px rgba(0, 0, 0, 0.04);
  justify-content: space-around;
  margin: auto;
}

.border {
      border: 3px solid red;
}

#content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 90%;
  grid-gap: 2em;
  /* max-width: minmax-content; */
}

.one{
  grid-column: 1/3;
  grid-row: 1/8;
  justify-self: start;
  align-self: end;
  height: 100%;
  width: 70%;
  border-radius: 30px;
  border: 2px solid rgb(227, 232, 239 );
  box-shadow: inset 0 0 10px rgb(227, 232, 239 );
  box-shadow: 0 0 10px rgb(227, 232, 239 );
}
.one-header-bubble{
  height: 20%;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: start;
  border-radius: 50px;
  /* border: 2px solid rgb(157, 150, 139); */
  border: 2px solid rgb(227, 232, 239 );
  background: white;
  text-align: center;
  text-justify: center;
  margin-top: -5%;
  margin-left: 27%;
}
.one-summary{
  padding: 10%;
    /* border: 2px solid rgb(157, 150, 139); */
}

.two{
  grid-column: 3/5;
  grid-row: 1/1;
  justify-self: center;
}
.three{
  grid-column: 3/5;
  grid-row: 2/5;
  text-align: center;
}
.four{
  height: 100%;
  grid-column: 3/5;
  grid-row: 4/8;
  border-radius: 30px;
  /* border: 2px solid rgb(157, 150, 139); */
  border: 2px solid rgb(227, 232, 239 );
  box-shadow: 0 0 10px rgb(227, 232, 239 );
}
.five{
  grid-column: 5/8;
  grid-row: 1/5;
  justify-self: end;
  align-self: center;
  height: 100%;
  width: 70%;
  border-radius: 30px;
  border: 2px solid rgb(227, 232, 239 );
  box-shadow: 0 0 10px rgb(227, 232, 239 );
}
.six{
  grid-column: 5/8;
  grid-row: 5/8;
  justify-self: end;
  align-self: start;
  width: 70%;
  height: 100%;
  border-radius: 30px;
  border: 2px solid rgb(227, 232, 239 );
  box-shadow: 0 0 10px rgb(227, 232, 239 );
}
.five-header-bubble{
  height: 20%;
  width: 100%;
  grid-column: 6;
  grid-row: 1;
  justify-self: start;
  align-self: start;
  border-radius: 50px;
  border: 2px solid rgb(227, 232, 239 );
  background: white;
  margin-top: -5%;
  margin-left: -10%;
  text-align: center;
  text-justify: center;
}
.six-header-bubble{
  height: 60%;
  width: 100%;
  grid-column: 6;
  grid-row: 5;
  justify-self: start;
  align-self: start;
  border-radius: 50px;
  border: 2px solid rgb(227, 232, 239 );
  background: white;
  text-align: center;
  text-justify: center;
  margin-top: -5%;
  margin-left: -12%;
}

.profile-card{
  display: grid;
  width: 100%;
  height: 50%;
  text-align: center;
  justify-items: space-around;
  align-items: center;
  margin-top: 15%;
}

.four-input-wrapper{
  /* border: 2px solid rgb(157, 150, 139); */
  display: grid;
  height: 100%;
  position: relative;
  justify-content: space-around;
}

.four-input{
  height: 80%;
  width: 100%;
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
}
.four-input-name{
  display: grid;
  justify-items: center;
}

.four-input-address {
  width: 50%;
  /* border: 2px solid rgb(157, 150, 139); */
  text-align: center;
  display: inline-block;
  margin: auto;
}

.four-input-buttons {
    /* border: 2px solid rgb(157, 150, 139); */
  /* margin-top: 10%; */
  height: 20%;
  width: 100%;
  position: absolute;
  padding: 20px;
  justify-self: center;
  align-self: end;
}

.input-three{
  height: 20%;
  grid-column: 1;
  grid-row: 9;
  background: #666;
}

.did-you-know-container{
  padding: 10%;
}

.boolean-button{
  flex-wrap: nowrap;
  /* border: 2px solid rgb(157, 150, 139); */
  /* height: 100%; */
  width: 100%;
}