.Osar {
  background-image: 
  url(
  "/src/images/HomePage.png");
  max-width:100%;
  max-height: 100%;
  height: 100vh;
  background-size: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  padding-top: 5%;
}

.Registry {
  background-image: 
  url(
  "/src/images/DVAA-bg.png");
  background-size: "cover";
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.body {
  background-color: rgb(247,247,247);
}

.signin-container {
  height: 70%;
  /* margin-left: 35%; */
  margin-top: 5%;
  padding: 3%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.signin-container2 {
  height: 25%;
  padding-top: 10%;
  flex-wrap: wrap;
  justify-content: center;

}

.signin-container3 {
  height: 70%;
  padding-top: 10%;
  padding: 3%;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.border {
    border: 3px solid red;
}

.questions {
  flex-wrap: wrap;
  /* text-align: center; */
  /* font-weight: bold; */
  margin-top: 5%;
  margin-left: 5%;
}

.container{
  width: 100%;
  margin: auto;
  width: 55%;
  height: 80%;
  flex-wrap: wrap;
  align-content: space-between;
}

.icon-container {
  position: absolute;
  /* flex-wrap: wrap; */
  bottom: 10%;
  right: 10%;
}

.flex-box {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
}

.flex-box-2 {
  display:flex;
  justify-content: space-around;
  width: 800px;
}

.question-card {
  /* border: 3px solid red; */
  background-blend-mode: color-dodge;
  border-radius: 20px;
  width: 64.15%;
  height: 47.5%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.faq-card {
  /* border: 3px solid yellow; */
  width: 30.8%;
  border-radius: 20px;
  height: 47.5%;
  margin-left: 4.5%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.answer-card {
  /* border: 3px solid green; */
  direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 100%;
  height: 47.5%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.input-card {
  /* border: 3px solid lightgreen; */
  align-items: center;
  justify-content: center;
  height: 55%;
  width: 100%;
}

.drawer-container {
  background-color: rgb(51,51,51);
  color: aqua;
}

.button {
  /* border: 3px solid lightgreen; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20%;
  width: 100%;
}

.button2 {
  /* border: 3px solid lightgreen; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20%;
  width: 100%;
}
/* h1{
  font-size: 60px;
} */

@media screen and (min-width: 320px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (min-width: 960px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1536px) {
  h1 {
    font-size: 60px;
  }
}